<% content_for(:header_title) do %>
<%= t('view.noun.msg_message') %>送信
<% end %>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'confirm' %>
  <div style="text-align:center">
    <%= submit_tag "送信" %>
    <%= cancel_tag %>
  </div>
<% end %>
