<%content_for(:header_title) do %>
<%= t('view.noun.abm_album') %><%= t('view.noun.abm_image') %>移動
<%end %>
<%content_for(:sub_title) do %>
<%= h @image.title %>
<%end %>
<div>
    <%= h @album.title %>に移動しました。<br/>
    <br/>
</div>