<!-- フッターブロック -->
<div id="footer">
  <div class="link"> </div>
	<div class="copyright">Copyright&copy; 2001-<%= Time.now.strftime("%Y") %> Drecom Co.,Ltd. All Rights Reserved.</div>
</div>
<!-- フッターブロック -->