<?xml version="1.0" encoding="<%= charset %>"?>
<!DOCTYPE html PUBLIC "-//i-mode group (ja)//DTD XHTML i-XHTML(Locale/Ver.=ja/1.1) 1.0//EN" "i-xhtml_4ja_10.dtd">
<html>

<body>
ただいまメンテナンス中です。
</body>

</html>
